---
layout: default
title: Main Page
---

<section class="welcome">
    <header class="header">
        <div class="container">
            {% include nav-bar.html %}
            {% include nav-bar-mobile.html %}
        </div>
    </header>
    <div class="container">
        <div class="welcome-header text-center">
            <h1 class="text-white mb-s">You dream, We build it!</h1>
            <a class="btn btn-big" href="#">Learn more</a>
        </div>
    </div>
</section>

<section class="section justify-content-center">
    <div class="container">
        <div class="section-header text-center">
            <h3 class="section-title">
                Hello!
            </h3>
            <p class="section-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut delectus dolor ea enim et ex
                harum illum inventore laudantium necessitatibus non odit optio placeat, quaerat quidem quis reiciendis
                rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta excepturi modi, nihil quam
                quia reprehenderit sint
            </p>
        </div>
        <div class="text-center">
            <img src="/assets/images/plants-bg.jpg" alt="">
        </div>
    </div>
</section>

<section class="section slide-section parallax">
    <div class="container">
        <div class="text-center">
            <h2 class="mb-l text-white">Lorem ipsum dolor</h2>
            <a class="btn btn-big" href="#">Contact US</a>
        </div>
    </div>
</section>

<section class="section features-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature">
                    <img src="/assets/images/icons/bonsai.svg" alt="">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature">
                    <img src="/assets/images/icons/flower.svg" alt="">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature">
                    <img src="/assets/images/icons/gardener.svg" alt="">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature">
                    <img src="/assets/images/icons/scissors.svg" alt="">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature">
                    <img src="/assets/images/icons/seeds.svg" alt="">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature">
                    <img src="/assets/images/icons/sprout.svg" alt="">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet aspernatur </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery-section">
    <div class="gallery-grid">
        <div class="gallery-item"><img src="/assets/images/gallery/01.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/03.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/06.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/25.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/12.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/15.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/17.jpg" alt=""></div>
        <div class="gallery-item"><img src="/assets/images/gallery/13.jpg" alt=""></div>
    </div>
</section>
