---
layout: default
title: Main Page
---

<section class="welcome">
    <header class="header">
        <div class="container">
            {% include nav-bar.html %}
            {% include nav-bar-mobile.html %}
        </div>
    </header>
    <div class="container">
        <div class="welcome-header text-center">
            <h1 class="text-white mb-s">You dream, We build it!</h1>
            <a class="btn btn-big" href="#">Learn more</a>
        </div>
    </div>
</section>

<section class="section justify-content-center">
    <div class="container">
        <div class="section-header text-center">
            <h3 class="section-title">
                Hello!
            </h3>
            <p class="section-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut delectus dolor ea enim et ex harum illum inventore laudantium necessitatibus non odit optio placeat, quaerat quidem quis reiciendis rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dicta excepturi modi, nihil quam quia reprehenderit sint
            </p>
        </div>
        <div class="text-center">
            <img src="/assets/images/plants-bg.jpg" alt="">
        </div>
    </div>
</section>