<div class="section-header">
    <div class="section-title">
        <h3>Contact Us</h3>
    </div>
    <div class="section-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur assumenda at
            consequatur deleniti dolorum expedita in perspiciatis, quam sint unde vel, voluptatum? Consectetur explicabo
            minus porro quo suscipit.</p>
    </div>
    <a class="btn btn-big mb-xl" href="#">INFO</a>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id="map"></div>
        </div>
    </div>
</div>