.btn {
	padding: .5rem 1rem;
	color: #ffffff;
	border-radius: 50px;
	transition: .3s all;
	display: inline-block;

	@include btn-background($color-green);
}

.btn-big {
	padding: 0 2rem;
	line-height: px2rem(48px);
	font-size: 18px;
}