.btn {
	padding: .5rem 1rem;
	color: #ffffff;
	border-radius: 50px;
	transition: .3s all;
	display: inline-block;
	text-align: center;

	@include btn-background($color-green);
}

.btn-big {
	padding: 1rem 2rem;
	font-size: 18px;
}