.feature {
	text-align: center;
	padding: 0 1rem;

	@include mq(desktop) {
		padding: 0 3rem;
	}

	img {
		margin-bottom: 1rem;
		max-width: px2rem(50px);
	}

	h4 {
		font-family: $font-default;
		margin-bottom: .5rem;
	}

	p {
		margin-bottom: 5rem;
	}
}