.gallery-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .2rem;

	@include mq(tablet) {
		grid-template-columns: repeat(auto-fill, calc(33% - .5rem));
		grid-gap: .5rem;
	}

	@include mq(desktop) {
		grid-template-columns: repeat(auto-fill, calc(25% - .5rem));

	}

}

.gallery-item {
	transition: .3s ease-in-out;
	position: relative;

	&:after {
		background: url('/assets/images/search.svg');
		content: '';
		height: 50px;
		width: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		transform: scale(1.01);
		overflow: hidden;

		img {
			filter: brightness(50%);
		}

		&:after {
			opacity: 1;
		}
	}

	img {
		display: block;
		transition: .4s ease-in-out;
	}

}

.gallery-categories {

	ul {
		display: flex;
		list-style: none;
		justify-content: center;

		li {
			padding: 3rem 3rem 5rem;
		}
	}

	.btn {
		background: none;
		color: #000;
		position: relative;
		transition: 0s;

		&.active, &:hover {
			background: $color-green;
			color: #fff;

			&:after {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%);
				content: '';
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;

				border-top: 8px solid $color-green;
			}
		}

	}
}

.category-header {
	text-align: center;
	//font-family: $font-default;
}