.section {
	padding: 8rem 0 6rem;
}

.section-header {
	text-align: center;
}

.section-title {
	margin-bottom: 2rem;
}

.section-description {
	max-width: px2rem(940px);
	margin: 0 auto 3rem;
}

.slide-section {
	background-image: url("/assets/images/slide.jpg");
}