* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  font-size: 13px; }
  @media (min-width: 61.25rem) {
    html {
      font-size: 16px; } }

body {
  font-family: "Lato", sans-serif;
  color: #000000e6; }

.container {
  margin: 0 auto; }

.m-0 {
  margin: 0 !important; }

.p-0 {
  padding: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.m-xs {
  margin: 8px !important; }

.p-xs {
  padding: 8px !important; }

.mt-xs {
  margin-top: 8px !important; }

.pt-xs {
  padding-top: 8px !important; }

.mb-xs {
  margin-bottom: 8px !important; }

.pb-xs {
  padding-bottom: 8px !important; }

.ml-xs {
  margin-left: 8px !important; }

.pl-xs {
  padding-left: 8px !important; }

.mr-xs {
  margin-right: 8px !important; }

.pr-xs {
  padding-right: 8px !important; }

.m-s {
  margin: 16px !important; }

.p-s {
  padding: 16px !important; }

.mt-s {
  margin-top: 16px !important; }

.pt-s {
  padding-top: 16px !important; }

.mb-s {
  margin-bottom: 16px !important; }

.pb-s {
  padding-bottom: 16px !important; }

.ml-s {
  margin-left: 16px !important; }

.pl-s {
  padding-left: 16px !important; }

.mr-s {
  margin-right: 16px !important; }

.pr-s {
  padding-right: 16px !important; }

.m-m {
  margin: 32px !important; }

.p-m {
  padding: 32px !important; }

.mt-m {
  margin-top: 32px !important; }

.pt-m {
  padding-top: 32px !important; }

.mb-m {
  margin-bottom: 32px !important; }

.pb-m {
  padding-bottom: 32px !important; }

.ml-m {
  margin-left: 32px !important; }

.pl-m {
  padding-left: 32px !important; }

.mr-m {
  margin-right: 32px !important; }

.pr-m {
  padding-right: 32px !important; }

.m-l {
  margin: 48px !important; }

.p-l {
  padding: 48px !important; }

.mt-l {
  margin-top: 48px !important; }

.pt-l {
  padding-top: 48px !important; }

.mb-l {
  margin-bottom: 48px !important; }

.pb-l {
  padding-bottom: 48px !important; }

.ml-l {
  margin-left: 48px !important; }

.pl-l {
  padding-left: 48px !important; }

.mr-l {
  margin-right: 48px !important; }

.pr-l {
  padding-right: 48px !important; }

.m-xl {
  margin: 64px !important; }

.p-xl {
  padding: 64px !important; }

.mt-xl {
  margin-top: 64px !important; }

.pt-xl {
  padding-top: 64px !important; }

.mb-xl {
  margin-bottom: 64px !important; }

.pb-xl {
  padding-bottom: 64px !important; }

.ml-xl {
  margin-left: 64px !important; }

.pl-xl {
  padding-left: 64px !important; }

.mr-xl {
  margin-right: 64px !important; }

.pr-xl {
  padding-right: 64px !important; }

.text-center {
  text-align: center; }

.text-white {
  color: #ffffff; }

.font-default {
  font-family: "Lato", sans-serif; }

.btn {
  padding: .5rem 1rem;
  color: #ffffff;
  border-radius: 50px;
  -webkit-transition: .3s all;
  transition: .3s all;
  display: inline-block;
  background-color: #2BC016;
  color: #fff; }
  .btn:hover {
    background-color: #26a913; }

.btn-big {
  padding: 0 2rem;
  line-height: 3rem;
  font-size: 18px; }

h1, h2, h3, h4 {
  font-family: "Satisfy", cursive; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 1.2rem; }

a {
  color: #fff;
  text-decoration: none; }

p {
  line-height: 1.7; }

img {
  max-width: 100%; }

.welcome {
  height: 70vh;
  background: url("http://yoland.ancorathemes.com/wp-content/uploads/2016/06/slide1.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  @media (min-width: 61.25rem) {
    .welcome {
      height: 95vh; } }

.welcome-header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.topbar-nav {
  display: none; }
  .topbar-nav a {
    padding: .5rem 1rem;
    -webkit-transition: .3s all;
    transition: .3s all;
    font-weight: 700;
    border-radius: 50px;
    margin: 0 .5rem; }
    .topbar-nav a:hover {
      background: #2BC016; }
  @media (min-width: 61.25rem) {
    .topbar-nav {
      display: block; } }

.topbar-nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem; }
  @media (min-width: 61.25rem) {
    .topbar-nav-mobile {
      display: none; } }

.menu-button {
  position: relative;
  margin-left: auto; }

.dropdown-menu {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 2.5rem;
  right: 0;
  padding: .5rem 0;
  background: #fff;
  color: #f00;
  cursor: pointer;
  border-radius: 3px;
  z-index: 2; }
  .dropdown-menu a {
    display: block;
    color: black;
    padding: .5rem 5rem; }

.section {
  padding: 8rem 0 6rem; }

.section-header {
  text-align: center; }

.section-title {
  margin-bottom: 2rem; }

.section-description {
  max-width: 58.75rem;
  margin: 0 auto 3rem; }

.slide-section {
  background-image: url("/assets/images/gallery/326.jpg"); }

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.feature {
  text-align: center;
  padding: 0 1rem; }
  @media (min-width: 61.25rem) {
    .feature {
      padding: 0 3rem; } }
  .feature img {
    margin-bottom: 1rem;
    max-width: 3.125rem; }
  .feature h4 {
    font-family: "Lato", sans-serif;
    margin-bottom: .5rem; }
  .feature p {
    margin-bottom: 5rem; }

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .2rem; }
  @media (min-width: 46.25rem) {
    .gallery-grid {
      grid-template-columns: repeat(auto-fill, calc(33% - .5rem));
      grid-gap: .5rem; } }
  @media (min-width: 61.25rem) {
    .gallery-grid {
      grid-template-columns: repeat(auto-fill, calc(25% - .5rem)); } }

.gallery-item {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .gallery-item:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    overflow: hidden; }
    .gallery-item:hover img {
      -webkit-filter: brightness(50%);
              filter: brightness(50%); }
  .gallery-item img {
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }

.contact-section {
  background: #303433;
  color: #fff; }
  .contact-section h4 {
    font-family: "Lato", sans-serif; }
  .contact-section p {
    font-size: 0.875rem; }

#map {
  width: 100%;
  height: 31.25rem; }
